@font-face {
    font-family: "TimothyRegular";
    src: url("https://maureendadap.github.io/MaureenBlog/src/styles/fonts/Timothy-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "SkinnyRegular";
    src: url("https://maureendadap.github.io/MaureenBlog/src/styles/fonts/Skinny-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "WhateverItTakes";
    src: url("https://maureendadap.github.io/MaureenBlog/src/styles/fonts/whatever it takes.ttf") format("truetype");
}

@font-face {
    font-family: "LemonYellowSun";
    src: url("https://maureendadap.github.io/MaureenBlog/src/styles/fonts/DK Lemon Yellow Sun.otf") format("opentype");
}

@font-face {
    font-family: "WhateverItTakesBold";
    src: url("https://maureendadap.github.io/MaureenBlog/src/styles/fonts/whatever it takes bold.ttf") format("truetype");
}

html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
}

.header {
    text-align: center;
}

#right_header {
    padding: 20px;
    z-index: 2;
}

.column {
    height: 100%;
    display: flex;
    flex-direction: column;
    float: left;
}

#left {
    width: 25%;
    background-color: white;
}

#right {
    width: 75%;
    height: 100vh;
    background-color: #f6d365;
    overflow-y: auto;
    position: relative;
}

.btn {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 30px;
    display: inline-block;
    font-family: "TimothyRegular";
    color: #444444;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
}

.btn:hover {
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    text-align: center;
    font-family: "LemonYellowSun";
    margin-left: -40px;
    font-size: 20px;
    color: #444444;
}

.list_container {
    display: flex;
}

.list_text_container {
    width: 95%;
    border-bottom-style: dotted;
    border-width: 2px;
    border-color: #8d8d8d96;
}

.color_box {
    flex-grow: 1;
}

#color_box_family {
    background-color: #ffb3b3;
}

#color_box_hobbies {
    background-color: #e15249;
}

#color_box_school {
    background-color: #f7be16;
}

#color_box_friends {
    background-color: #00818a;
}

#list_text_container_family {
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

#list_text_container_family:hover {
    background-color: #ffb3b3;
    color: white;
}

#list_text_container_hobbies {
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

#list_text_container_hobbies:hover {
    background-color: #e15249;
    color: white;
}

#list_text_container_school {
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

#list_text_container_school:hover {
    background-color: #f7be16;
    color: white;
}

#list_text_container_friends {
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

#list_text_container_friends:hover {
    background-color: #00818a;
    color: white;
}

.right_container {
    margin-left: 5vw;
    margin-top: -19vw;
    margin-right: 5vw;
    z-index: 1;
}

#right_container_header {
    margin-bottom: -22vw;
}

#week_header {
    font-size: 18vw;
    font-family: TimothyRegular;
    color: white;
}

.headings {
    font-size: 3vw;
    margin-bottom: -20px;
}

.week_body {
    padding: 20px;
    font-family: WhateverItTakes;
    font-size: 2vw;
    line-height: normal;
    color: #303030;
}

@media only screen and (min-width:621px) {
    #right {
        box-shadow: inset 22px 0px 11px -20px rgba(0, 0, 0, 0.55);
    }
}

@media only screen and (max-width:620px) {
    /* For mobile phones: */
    html {
        overflow-y: auto;
    }
    #left,
    #right {
        width: 100%;
    }
    #left {
        height: max-content;
    }
    #right {
        box-shadow: inset 0px 22px 11px -20px rgba(0, 0, 0, 0.55);
        overflow-y: unset;
        height: max-content;
    }
    .btn {
        margin-right: 8px;
        margin-left: 8px;
        font-size: 25px;
    }
    .right_container {
        margin-left: 0vw;
        margin-top: -28vw;
    }
    #week_header {
        text-align: center;
        font-size: 30vw;
    }
    .headings {
        font-size: 7vw;
        margin-bottom: -20px;
    }
    .week_body {
        padding-left: 40px;
        padding-right: 40px;
        margin-top: -150px;
        font-size: 5vw;
        line-height: 1.6;
    }
}