html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
}

.header {
    text-align: center;
}

#top {
    padding: 15px;
}

#bottom {
    padding: 20px;
    border-bottom-right-radius: 40% 80%;
}

.column {
    height: 100%;
    display: flex;
    flex-direction: column;
    float: left;
}

#left {
    width: 25%;
    background-color: white;
}

#right {
    width: 75%;
    height: 100vh;
    background-color: blue;
}

@media only screen and (min-width:621px) {
    #right {
        box-shadow: inset 22px 0px 11px -6px rgba(0, 0, 0, 0.55);
    }
}

@media only screen and (max-width:620px) {
    /* For mobile phones: */
    #left,
    #right {
        width: 100%;
    }
    #right {
        box-shadow: inset 0px 22px 11px -6px rgba(0, 0, 0, 0.55);
    }
}