@font-face {
    font-family: "TimothyRegular";
    src: url("https://maureendadap.github.io/MaureenBlog.github.io/src/styles/fonts/Timothy-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "SkinnyRegular";
    src: url("https://maureendadap.github.io/MaureenBlog.github.io/src/styles/fonts/Skinny-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "WhateverItTakes";
    src: url("https://maureendadap.github.io/MaureenBlog.github.io/src/styles/fonts/whatever it takes.ttf") format("truetype");
}

@font-face {
    font-family: "WhateverItTakesBold";
    src: url("https://maureendadap.github.io/MaureenBlog.github.io/src/styles/fonts/whatever it takes bold.ttf") format("truetype");
}

html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
}

.header {
    text-align: center;
}

#right_header {
    padding: 20px;
    border-bottom-right-radius: 40% 80%;
}

.column {
    height: 100%;
    display: flex;
    flex-direction: column;
    float: left;
}

#left {
    width: 25%;
    background-color: white;
}

#right {
    width: 75%;
    height: 100vh;
    background-color: #f6d365;
}

.btn {
    border: none;
    background-color: inherit;
    padding: 2px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 24px;
    cursor: pointer;
    display: inline-block;
    font-family: "WhateverItTakesBold";
    color: #444444;
}

a {
    text-decoration: none;
    color: inherit;
}

@media only screen and (min-width:621px) {
    #right {
        box-shadow: inset 22px 0px 11px -20px rgba(0, 0, 0, 0.55);
    }
}

@media only screen and (max-width:620px) {
    /* For mobile phones: */
    #left,
    #right {
        width: 100%;
    }
    #right {
        box-shadow: inset 0px 22px 11px -20px rgba(0, 0, 0, 0.55);
    }
}